@import "base";
@import "layout";
@import "modules/example";
@import "bootstrap/scss/bootstrap-grid"; 
.row + .row {

  }
  
  .row > .col,
  .row > [class^=col-] {
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid rgba(86, 61, 124, .2);
  }

  body {
    background: #1D3A27;
    color: white;
    font-family: Raleway-Regular;
  }

  .bar-haut {
    font-family: Raleway-Medium;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    align-items: center;
  }



  .concept-back {
    background-color: white;
    font-size: 18px;
    color: #0D400C;
    letter-spacing: 0;
    text-align: center;
    line-height: 26px;

  }

  h1 {
    font-family: Megrim;
    font-weight: medium;
    font-size: 50px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
  }


  .menu-txt {
    display: flex;
    justify-content: space-between;
  }


 
    @media (max-width: 1440px) {
      .img-menu {
        display: none;
        width: 100%;
      }
    }

  .concept {
    font-family: Raleway-Regular;
    font-size: 18px;
    color: #0D400C;
    letter-spacing: 0;
    text-align: center;
    line-height: 26px;
  }

  @media (min-width: 1440px) {
    .concept-txt {
      border: solid;
      border-color: white;
      border-width: 1px;
      padding: 10px;
    }
  }

  @media (min-width: 1440px) {
    .concept-img {
      display: none;
      width: 100%;
    }
  }

  .concept-img {
    width: 100%;
  }

  .concept-txt {
    padding:60px 20px;
  }

  .container {
    text-align: center;
  }

  .card {
    border: solid;
    border-color: white;
    border-width: 1px;
    padding: 40px;
  }

  .menu-txt {
    padding: 20px 0px;
    text-align: left;
  }

  .priece {
    padding: 10px;
  }

  .card h3 {
    padding: 20px;
  }

  .card {
    margin: 80px 0px;
    align-items: center;
  }

  @media (min-width: 1440px) {
    .horaire {
      border: solid;
      border-color: white;
      border-width: 1px;
      padding: 10px;
    }
  }

  h2 {
    font-family: Raleway-Regular;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    padding-bottom: 40px;
  }

  .reservation p {
    margin: 20px;
  }

  .reservation {
    padding: 20px;
  }

  footer {
    display: flex;
    flex-direction: row;
  }

  .button {
    background: rgba(29,58,39,0.44);
    border: 1px solid #FFFFFF;
    font-family: Raleway-Regular;
    font-size: 35px;
    color: #FFFFFF;
    letter-spacing: 0;
  }