@import "base";
@import "layout";
@import "modules/example";
@import "bootstrap/scss/bootstrap-grid"; 
.row + .row {
    margin-top: 16px;
  }
  
  .row > .col,
  .row > [class^=col-] {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
  }

  .menu-txt {
    display: flex;
    justify-content: space-between;
  }

